.btn.viewbutton {
    background-color: transparent;
    border-color: transparent;
}

.btn.viewbutton:disabled {
    background-color: transparent;
    border-color: transparent;
}

.btn.viewbutton:hover {
    background-color: white;
}

.btn.editbutton {
    background-color: transparent;
    border-color: transparent;
}

.btn.editbutton:hover {
    background-color: transparent;
    border-color: transparent;
}

.btn.deletebutton {
    border-color: transparent;
}